<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>アークレコード 傭兵団 蜜の味</title>
	<meta name=description”content="アークレコードの傭兵団「蜜の味」の公式ホームページです。" />
	<link href="css/style.css" rel="stylesheet" />
</head>

<body>
	<p class="resizeimage">
		<img src="img/1.jpg" name="imagetop" alt="アークレコードの傭兵団「蜜の味」">
</p>
<div id=" container">
	<main>

		<section class="bg2 bg-pattern2" id="info">
			<h3>
				当サイトはアークレコードの傭兵団『蜜の味』と『FANZ〇から来ました』の 2 団連盟用 HP です。<br>
				連盟では Discord を共有しており、キャラ情報や周回情報の閲覧や相談ができます。<br>
				お困りの方にご活用いただけますと幸いです。<br>
			</h3>
		</section>

		<section class="bg1 bg-pattern1" id="info">
			<h2>------- 傭兵団情報 -------</h2>
			<h3>『蜜の味』</h3>
			・傭兵団戦 50-100 位、報酬 5 倍維持<br>
			・ウィークリー安定。富の祝福とエネルギー 50/30 は基本毎日配布<br>
			・Discord や メンバー専用チャットで傭兵団戦の相手情報も共有<br>
			・無言 OK<br>
			条件<br>
			・闘技場ランク Gold2 以上の実力<br>
			・傭兵団戦 3 回アタック<br>
			・戦うことに好奇心のある方<br>
			<h3>『FANZ〇から来ました』</h3>
			・初心者歓迎、上位ギルド（蜜の味）への優先加入<br>
			・共有の Discord や メンバー専用チャット で優先キャラや装備など疑問を解消！<br>
			・ウィークリー安定。富の祝福とエネルギー 50/30 は基本毎日配布<br>
			・傭兵団戦は自由参加(参加したい方はチャットで言ってください)<br>
			・未ログイン 4 日表記で除隊<br>
			・無言 OK<br>
			条件<br>
			・傭兵団戦 負けてもいいので 3 回アタック<br>
			・寄付お願いします。週間AP200以下の方は除隊<br>
			<br>
			<br>
			<br>
			<h2>メンバー専用チャット一覧</h2>
			Discordが無くてもチャットできます。<br>
			<h3><a class="chatClass" data-channel-id="1286753266985861121" href="/chatHtml/1286753266985861121">質疑応答</a></h3>
			<h3><a class="chatClass" data-channel-id="1386634801716531372" href="/chatHtml/1386634801716531372">初心者用質疑応答</a></h3>
			<h3><a class="chatClass" data-channel-id="1286759459242381433" href="/chatHtml/1286759459242381433">アクレコ雑談</a></h3>
			<h3><a class="chatClass" data-channel-id="1286758991875276880" href="/chatHtml/1286758991875276880">傭兵団戦会議室</a></h3>
		</section>
		<section class="bg-primary-color" id="info">
			<h3>Discordの様子</h3>
			<img src="img/disco.jpg">
			<h3>FANZ〇の様子</h3>
			<img src="img/fanza.jpg">
			<h3>蜜の味にはレジェンドの方がいらっしゃいます。</h3>
			<img src="img/l.png">
		</section>

		<section class="bg-primary-color" id="info">
			<div class=s1>
				著作権法第32条に基づき画像を引用しております。<br>
				著作権は権利者様側へ帰属しておりますので、<br>
				画像の転載・流用はご遠慮下さい。<br>
				また、権利者様側からの画像等の削除の依頼や警告は速やかに対処いたします。<br>
				販売元:EROLABS<br>
			</div>
		</section>

	</main>
	</div>


	<script type="text/javascript">
		img = new Array("img/1.jpg", "img/2.jpg", "img/3.jpg");
		count = -1; //*2
		imgTimer();

		function imgTimer() {
			//画像番号
			count++; //*3
			//画像の枚数確認
			if (count == img.length) count = 0; //*4
			//画像出力
			document.imagetop.src = img[count]; //*5
			//次のタイマー呼びだし
			setTimeout("imgTimer()", 15000); //*6
		}
	</script>
</body>

</html>